#Escludo i file di visual studio
obj*
Properties*
*.csproj
*.csproj.user
# Escludo il codice server side
bin*
aspnet_client*
*.aspx
*.aspx.cs
*.designer.cs
Web.config
# Escludi preview di windows
Thumbs.db
#Altro
*.txt
*.bak
